.main-form{
  display: flex;
  /* border: 1px solid black; */
  text-transform: uppercase;
  /* font-family: 'Courier New', Courier, monospace; */
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 40px;
  height: 96vh;
  background-color: rgb(202, 225, 245);
}
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
.form-row{
  display: flex;
  /* /* box-shadow: 1px 1px 1px 1px black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  width: 520px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 140px;
  font-family: inherit;
  background-color: #ffff;
  border-radius: 10px;
  
}
.item-label{
  font-size: 25px;
  width: 500x;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(122, 122, 241);
  font-weight: bolder;
}
.item-name{
  margin-top: 10px;
  height: 30px;
  width: 490px;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 500;
}
.add-button{
  height: 35px;
  width: 500px;
  font-family: inherit;
  text-transform: uppercase;
  color:#ffff;
  background-color: rgb(189, 189, 192);
  border: 0;
  border-radius: 6px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  outline: 0;
}
/* .add-button:hover{
  box-shadow: 2px 2px rgb(126, 125, 125);
} */

.item-list{
  /* border: 1px solid black; */
  width: 520px;
  height: auto;
  color: #ffff;
  padding: 15px;
  background-color: rgb(11, 198, 255);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.list-item-name{
  font-family: inherit;
  color: black;
  text-transform: capitalize;
  font-size: 20px;
}
ul{
  list-style-type: none;
  padding-right: 3px;
  margin:0;
}
.del-button{
  text-transform: uppercase;
  margin: 0;
  outline: 0;
  border: 1px solid rgb(253, 91, 91);
  color: rgb(224, 217, 217);
  background-color: rgb(245, 136, 136);
  /* border: 1px solid red; */
  font-size: 13px;
  padding: 4px;
  margin-left: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.list-header{
  color: black;
}
#no-Todo{
  color: rgb(243, 145, 145);
  text-transform: capitalize;
}